<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polls list</title>
  <!-- bootsrarp link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 my-5">
      <div class="card card-body">
        <h3>Your All POlls</h3>
        <ul class="list-group">
          <!-- poll data will be inserted here -->
           <% for(let p of polls) { %>
              <li class="list-group-item">
                  <a href="/polls/<%=p._id %>">
                    <%=p.title %>
                  </a>
                </li>
            <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>




  <!-- bootstrap js link -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>